/****** Header ******/
   #header 
   { 
       top:0px; 
       width:100%; 
       height:50px; 
       position:absolute; 
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       -moz-box-shadow: inset 0px -1px 3px #1d1d1d;
       -webkit-box-shadow: inset 0px -1px 3px #1d1d1d;
       box-shadow: inset 0px -1px 3px #1d1d1d;
       background-image: url(../images/sharkskin.gif);
       text-align: center;
       font-size: 30px;
       color: white;
       line-height: 50px;
       text-shadow: 0 -1px 1px black;
       font-weight: bold;
   }



/*****  Controls ******/
  #top-controls {
/*     overflow:auto;*/
      position:absolute;
      top:50px; 
      left: 0px;
      right: 0px;
   }

   #top-controls ul, #top-controls li {
      display: inline;
      line-height: 30px;
      height: 30px;
      padding: 0 20px;
   }

   #top-controls .left li{
      float: left;
      border-right: 1px solid rgba(0, 0, 0, 0.3);
   }

   #top-controls .right li {
      float: right;
      border-left: 1px solid rgba(0, 0, 0, 0.3);
      cursor: pointer;
   }

   #top-controls a{ color: rgb(60, 60, 60); }
   #top-controls input { height: .8em; }
   #top-controls #chromosome { width: 1.5em;}
   #top-controls #jump-to { width: 6em; }
   
   
   #link-url {
       background-color: rgb(230,230,230);
       color: rgb(50,50,50);
       border: 1px solid rgb(160,160, 160);
       border-top: 0px;
       border-bottom-left-radius:4px;
       -moz-border-radius-bottomleft:4px;
       border-bottom-right-radius:4px;
       -moz-border-radius-bottomright:4px;
       padding-top: 5px;
       width: 128px;
       font-size: 12px;
       left:-21px;
       display: none;
       box-shadow: inset 0px 4px 4px -2px rgb(170,170,170);
       line-height: 18px;
       position: relative;
       z-index: 10;
   }

   #link-url input {
      width: 110px;
   }

   .controls {
       -webkit-box-flex: 1;
       -moz-box-flex: 1;
       box-flex: 1;
       line-height: 30px;
       height: 30px;
       color: rgb(60, 60, 60);
       text-shadow: 1px 1px 1px white;
       color: #333333;
       font-weight: bold;
       text-shadow: 0 1px 1px #ffffff;
       font-size: 18px;
       border-bottom: 1px solid rgba(0, 0, 0, 0.3);
       background: #ffffff;
       background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e0e0e1));
       background: -moz-linear-gradient(top, #ffffff, #e0e0e1);
       background: linear-gradient(top, #ffffff, #e0e0e1);
       -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
       -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
       box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
       -webkit-box-shadow: inset -1px -1px 3px #eeeeee, 1px 1px 2px rgba(0, 0, 0, 0.1);    
   }


/***** viewer/sliders *****/

   #container{
      top: 95px; 
      bottom: 31px; 
      left: 0px;
      overflow:auto; 
      position:absolute;
      right: 0px;
      text-align: center;
      z-index: 0;
   }

   #zoom-slider {
      font-size:9.5px;
      display:inline-block; 
      height: 80%;
   }

   #zoom .ui-icon, #footer .ui-icon, #plus .ui-icon {
      background-image: url(../images/ui-icons_000000_256x240.png);
   } 
   
   #splash {
       width: 60%;
       font: bold 20px ubuntu;
       text-align:center;
       margin-left:auto;
       margin-right:auto;
       color: rgb(90,90,90);

   }

   #splash a{
       color: rgb(106,122,142);
   }

   /*#pan {
       margin-top: 30px;
       font: 14px arial;
   }*/
   

/*****  footer  ******/

   #footer {
      position: absolute;
      bottom:0px;
      left: 0px;
      right: 0px;
      border-top: 1px solid rgba(0, 0, 0, 0.3);   
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      line-height: 30px;
      height: 31px;
      color: rgb(60, 60, 60);
      text-shadow: 1px 1px 1px white;
      color: #333333;
      font-weight: bold;
      font-size: 11px;
      background: #F3F3F3;
      background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#D6D6D6));
      background: -moz-linear-gradient(top, #F3F3F3, ##D6D6D6);
      background: linear-gradient(top, #F3F3F3, ##D6D6D6);
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: inset -1px -1px 3px #eeeeee, 1px 1px 2px rgba(0, 0, 0, 0.1);
   }

   #about {
       display: none;
       width: 300px;
       position: absolute;
       left: 50%;
       margin-left: -150px;
       top: 20%;
       text-align: center;
       z-index: 5;
       border-radius: 5px;
       -moz-border-radius: 5px;
       background-color: rgb(245,245,245);
       padding: 10px;
       border: 4px solid rgb(100,100,100);  
       -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
       -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
       box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
      
   }

   #about p, span{
       color: rgb(90,90,90);
       font: bold 13px ubuntu;
       text-align: left;
   }

   #about a{
       color: rgb(106,122,142);
   }
