/** Rover CSS  - contains styling only for the main viewer element **/

#rover-canvas-content {
   background-image: url(../images/gray-xgrid-small.png);
   border-top-left-radius:3px;
   -moz-border-radius-topleft:3px;
   border-top-right-radius:3px;
   -moz-border-radius-topright:3px;
    overflow: auto;
}

.rover-track-menu {
    position: absolute;
    left: 5px;
    width:auto;
    top: 22px;
    visibility: hidden;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: rgb(180,180,180);
    border: 2px solid rgb(100,100,100);
    opacity: 0.4;
    text-align:center;
}

.rover-track-menu a {
   cursor:pointer;
}

.rover-track-menu div {
   background-image: url(../images/ui-icons_ffffff_256x240.png)
}

.rover-track-menu:hover {
   opacity: 1;
}  

#rover-cover-scroll-bar{
   width: 100%;
   background-color: white;
   border-top: 1px solid rgb(210,210,210);
   padding-top: 4px;
}

#rover-scale{
   overflow:auto;
   border: 1px solid red;
}

#rover-scale canvas{
/*   background: -moz-linear-gradient(top, rgb(95, 95, 95), rgb(70,70,70));
   background: -webkit-gradient(linear, left top, left bottom, from(rgb(95,95,95)), to(rgb(70, 70, 70)));   
*/
   background-color: rgb(68,76,84);
   background: -webkit-gradient(linear, left top, left bottom, from(rgb(86,98,109)), to(rgb(68,76,84)) );   
   background: -moz-linear-gradient(top, rgb(86,98,109), rgb(68,76,84));
}

#rover-canvas-list {
    background-color: white;
    width: auto;
    margin-left: auto;
    margin-right: auto;
   
}

.rover-canvas-label {
    font: bold 12px ubuntu;
    position: absolute;
    left: 40%;
    color: rgb(60,60,60);
}

.rover-error{
   color: red;
   text-decoration: underline;
   display: none;
}

.rover-error:hover{
   cursor: pointer;
}

.rover-track-edit-div {
   background: -webkit-gradient(linear, left top, left bottom, from(rgb(254,254,254)), to(rgb(240,240,240)));
   background: -moz-linear-gradient(top, #474747, #303030);
   background: rgb(253, 253, 253);
   position: absolute;
   left: 0px;
   display:none;
   width: 500px;
/*   height: 400px; // determined by var panelHeight in rover.showEditPanel()*/
   border-radius:4px;
   -moz-border-radius: 4px;
   border: 2px solid rgb(100,100,100);
   
}

.rover-track-edit-div input {
   width: 125px;
}

.rover-track-edit-div .columns {
   width: 830px;
   padding-left: 5px;
   padding-right: 5px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   font-size: 11px;
}

.rover-track-edit-div .labels{
      font-size: 10px;
}

.rover-info-div {
   font-size: 10px;
   float: right;
   width: 300px;
   text-align: left;
}

.rover-info-div .info-title {
   font-size: 10px;
   font-weight:bold;
   margin-left: -70px;
   text-decoration: underline;
   float: left;
   width: 70px;
   color: rgb(150,150,150);
}

.rover-info-div span {
   text-align: left;
   font-size: 10px;
   color: rgb(150,150,150);
}

.rover-canvas {
    margin-bottom: 0px;
    margin-top: 0px;    
    padding: 0px;    
    float: left;
}

.rover-canvas-div {

    border-radius:4px;
    -moz-border-radius: 4px;
    position:relative;
    padding-top: 5px;
/*    display:table;*/
        display:inline-block;
}

.rover-canvas-div:nth-child(odd) {
    background-color: rgb(240, 248, 255);
}

.rover-canvas-div:nth-child(even) {
    background-color: white;
}

.rover-remove-track-button{
   position: absolute;
   visibility: hidden;
   right: 5px;
   top: 22px;
   cursor: pointer;
   background-color: rgb(180,180,180);
   border: 2px solid rgb(100,100,100);
   opacity: 0.4;
   text-align:center;  
   border-radius: 10px;
   width: 14px;
   color: white;
   font-weight: bold;
   -moz-border-radius: 10px;    
}

.rover-remove-track-button:hover{
   opacity: 1;
}