<script id="track-template" type="text/x-handlebars-template">
   <div class="rover-canvas-div">
      <canvas class="rover-canvas">
   </div>
</script>

<script id='track-controls-template' type="text/x-handlebars-template">
   <div class="rover-track-menu" style="top:22px; display:none"/>
   <div class="rover-remove-track-button" style="top:22px; display:none"/>
   <span class="rover-canvas-label" style="top:22px">
      <a class="rover-error">Error, Retry</a>
      <span> class="spinner">
         <img src="images/spinner.gif">
            retrieving from:
         </img>
      </span>
   </span>
   <div class="rover-track-edit-div"/>
</script>