<script id="track-menu-template" type="text/x-handlebars-template">                                                                                                  
   <ul class="dropdown">                                                                                                             
        <li><a style="margin-top:-4px; width: 32px"><img style="float:left" width="16" src="./images/gear_white.png"</img>     
           <div class="ui-icon ui-icon-triangle-1-s"></div></a>                                                                      
           <ul class="sub_menu" style="text-align: center">                                                                        
              <div id ="top-border"></div>                                                                                           
               <li>                                                                                                                    
                 <span style="padding-left:8px">View As ></span>                                                                     
                 <ul>                                                                                                                  
                    <li><a class="{{trackId}}-drawStyle" name="collapse">Collapsed</a></li>                                        
                    <li><a class="{{trackId}}-drawStyle" name="expand" >Expanded</a></li>                                          
                    <li><a class="{{trackId}}-drawStyle" name="line">Line Chart</a></li>
                 </ul>                                                                                                                 
               </li>                                                                                                                   
               <li><a class="{{trackId}}-edit">Edit</a></li>                                                                         
           </ul>                                                                                                                       
        </li>                                                                                                                          
     </ul>
</script>